html{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.desktop{
  height: 64px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: solid 1px black;
}
.nav ul{
  display: flex;
  padding-right: : 16px;
  align-items: center;
  margin-right: 24px;
}
li{
  margin-left: 16px;
}
h1 b{
  font-weight: bold;
}
.dsktoplogo{
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.dsktoplogo h1{
  line-height: 2rem;
}
