html{
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

/* Header */
.desktop{
  height: 64px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: solid 1px black;
}
.nav ul{
  display: flex;
  padding-right: : 16px;
  align-items: center;
  margin-right: 24px;
}
li{
  margin-left: 16px;
}
h1 b{
  font-weight: bold;
}
.dsktoplogo{
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.dsktoplogo h1{
  line-height: 2rem;
}
.mobile{
  display: none;
}
/*body first strip */
.hero{
  display: flex;
  align-items: center;
  background-color: rgba(173, 230, 247, 0.5);
}


.image img{
  display: block;
  width: 60%;
    margin: 32px 24px;
}
.hero-content{
  display: block;
}

.hero-content h1{
  font-size: 3rem;
  font-weight: bold;
  margin: 40px;
}

.hero-content h2{
  font-size: 2rem;
  font-weight: bold;
  margin: 40px;
  max-width: 60%;
}
.btn{
  font-size: 1rem;
  margin: 40px;
  max-width: 30%;
  background-color: gray;
  padding: 0.5rem 2rem;
  text-align: center;
  transition: background-color 750ms ease-in;
}

.btn:hover{
  background-color: #c1baff;
}
.article{
  display: flex;
  width: auto;
}
.Left img{
  display: block;
  width: 100%;
    margin: 32px 0px;
    margin-left: 24px;
}
.Left {
    width: 60%;
}
.Left h1{
  font-size: 2rem;
  font-weight: bold;
  margin: 24px;
  max-width: 60%;
}
.Left p{
  font-size: 1rem;
  margin: 24px;
  max-width: 60%;
}
.position{
  font-style: italic;
  font-weight: lighter;
}
.right{
  width: 40%;
  margin-left: 34px;
  margin-top: 32px;
}
.Rbox{
 display: flex;
 align-items: center;
 border: thin solid gray;
}
.Rbox:hover{
  background-color: #f2ffff;
}
.Rbox img{
  display: block;
  float: left;
  height: auto;
  max-width: 30%;
  margin: 16px;

}
.Rbox-content{
  width: 65%;
  margin-left: 20px;
  align-items: center;
  float: right;
}
.Rbox-content h3{
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 8px;
}
.Rbox-content p{
  font-weight:normal;
  font-size: 1rem;
  width: 65%;
}
.Read{
  color: blue;
  margin-top: 8px;
}
/*body second boxes strip */

.header{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0px;
  padding-top: 2rem;
}

.totalbox{
  align-content: center;
  display: flex;
  flex-wrap: wrap;
      margin: 32px 72px ;
  width: auto;
  justify-content: center;

}
.bstrip{
    background-color: #fff8cf;

}
.box{
  width: 30%;
  padding-left: 32px;
  position: relative;
  overflow: hidden;

}
.box-content{
  background-color: white;
  width: 100%;
  height: auto;
}
.box img{
  width: 100%;

}
.box h2{
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 16px;
  margin-left: 16px;

}

.box span{
  font-weight: lighter;
  font-size: 0.8rem;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 16px;

}
.box p{
  font-size: 0.8rem;
  margin-top: 8px;
  margin-bottom: 24px;
  margin-left: 16px;

}
.videostrip {
display: flex;
width: auto;
}
.video{
  width: 60%;
}
.video video{
  display: block;
  width: 95%;
    margin: 32px 24px;
    overflow: hidden;
}
.video h3{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 8px
  max-width: 60%;
}
.video p{
  font-size: 1rem;
  margin-left: 24px;
  max-width: 100%;
  margin-bottom: 32px;
}
.preview{
  width: 40%;
  margin-left: 16px;
  margin-top: 32px;
}
.pbox img{
  display: block;
  float: left;
  height: auto;
  max-width: 30%;
  margin: 16px;

}
.pbox{
 display: flex;
 align-items: center;
  border: thin solid gray;
}
.pbox-content{
  width: 65%;
  margin-left: 20px;
  align-items: center;
  float: right;
}
.pbox-content h2{
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 8px;
}
.pbox-content p{
  font-weight:normal;
  font-size: 1rem;
  width: 65%;
}
footer{
  display: flex;
  border-top: solid 0.5px black;
  width: auto;
  margin: 24px;
  justify-content: space-between;
}
.rights{
  text-align: left;
  margin-top: 24px;

}
.privacy{
  justify-content: flex-end;
    margin-top: 24px;
}
.privacy a:hover{
  text-decoration: underline;
}
@media only screen and (max-width: 480px){
 .desktop{
  display: none;
 }
 .mobile{
   display: flex;
   width: 100%;
   justify-content: space-around;
   align-content: center;
 }
.Left{
  display: none;
}
.image img{
  width: 100%;
    margin: 32px 24px;
}
.hero{
  background-color: rgba(173, 230, 247, 0.5);
}
.hero-content{
  display: flex;
  flex-wrap: wrap;
}
}
